In [1]:
#dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import gmaps
import json
import os

from api_key import gkey

In [5]:
#finding csv
cities_info_filing = "../WeatherPy/OutputData/city_weather.csv"

In [6]:
#reading csv to df
cities_info2 = pd.read_csv(cities_info_filing)

In [7]:
cities_info2.head()

           City Country   Temp  Humidity  Cloudiness  Wind Speed    Lat    Lng
0         Ancud      CL  53.33        53           0       10.29 -41.87 -73.82
1         Mānsa      IN  67.35        24           0        4.41  29.98  75.38
2         Vardø      NO  28.38        86          40        6.93  70.37  31.11
3  Puerto Ayora      EC  72.57        73          75       18.34  -0.74 -90.35
4   East London      ZA  60.22        67           7        8.77 -33.02  27.91

In [8]:
#getting the location for the heatmap
locations = cities_info2[["Lat", "Lng"]]
humidity2 = cities_info2["Humidity"]

In [13]:
#heatmap
figure = gmaps.figure()

heating1 = gmaps.heatmap_layer(locations, weights=humidity2,
                         dissipating=False, max_intensity=100,
                         point_radius=2)

figure.add_layer(heating1)

figure

Figure(layout=FigureLayout(height='420px'))

In [15]:
#getting the right data for perfect vacation
temp80_df = cities_info2.loc[cities_info2["Temp"] < 80]
temp70_df = temp80_df.loc[temp80_df["Temp"] > 70]
wind10_df = temp70_df.loc[temp70_df["Wind Speed"] < 10]
cloud0_df = wind10_df.loc[wind10_df["Cloudiness"] == 0]

new_vacation = cloud0_df
new_vacation.head()

,City,Country,Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng
44,Tcholliré,CM,75.18,60,0,2.77,8.40,14.17
68,Tura,IN,71.85,92,0,2.75,25.52,90.22
72,Tsiroanomandidy,MG,71.35,59,0,3.58,-18.77,46.03
193,Aswān,EG,78.03,26,0,2.66,24.09,32.91
198,Bandarbeyla,SO,78.58,73,0,6.76,9.49,50.81